<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keyboard Handling With Input Fields.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF560BE02067B9AE001577E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF560BF42067B9AF001577E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF560BFF2067B9AF001577E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
